In [1]:
import pandas as pd
import generate_athena_query as gen_query

In [2]:
Airline_Dataset_Updated_v2_path = "Airline data/Airline Dataset Updated - v2.csv"
Airline_Dataset_Updated_v2_DF = pd.read_csv(Airline_Dataset_Updated_v2_path)

Airline_Dataset_Updated_path = "Airline data/Airline Dataset Updated.csv"
Airline_Dataset_Updated_DF = pd.read_csv(Airline_Dataset_Updated_path)

Airline_Dataset_path = "Airline data/Airline Dataset.csv"
Airline_Dataset_DF = pd.read_csv(Airline_Dataset_path)

In [3]:
# Airline_Dataset_Updated_v2_DF.head(12)

In [4]:
# Airline_Dataset_Updated_DF.head(12)

In [5]:
# Airline_Dataset_DF.head(12)

In [6]:
complete_df1 = pd.concat([Airline_Dataset_Updated_v2_DF, Airline_Dataset_Updated_DF], ignore_index=True)
complete_DF = pd.concat([complete_df1, Airline_Dataset_DF], ignore_index=True)

In [7]:
query = gen_query.generate_athena_query(complete_DF, "airline_dataset_db", "updated_airline_dataset","s3://ankitsbucket001/Airline_data_Project2_folder/updated_airline_dataset/")

print(query)

    CREATE DATABASE IF NOT EXISTS airline_dataset_db;
    CREATE EXTERNAL TABLE IF NOT EXISTS airline_dataset_db.updated_airline_dataset (
        `Passenger_ID` STRING,
        `First_Name` STRING,
        `Last_Name` STRING,
        `Gender` STRING,
        `Age` INT,
        `Nationality` STRING,
        `Airport_Name` STRING,
        `Airport_Country_Code` STRING,
        `Country_Name` STRING,
        `Airport_Continent` STRING,
        `Continents` STRING,
        `Departure_Date` STRING,
        `Arrival_Airport` STRING,
        `Pilot_Name` STRING,
        `Flight_Status` STRING
    )
    ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
    WITH SERDEPROPERTIES ('field.delim' = ',')
    STORED AS INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat'
    OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
    LOCATION 's3://ankitsbucket001/Airline_data_Project2_folder/updated_airline_dataset/'
    TBLPROPERTIES ('skip.header.line.count'='1');